/* this is a css file containing the styling sheets of the form page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #03a9f4;
    transition: 0.5s;
}
body.active{
    background: #f43648;
}
.container{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}
.bluebg{
    position: absolute;
    top: 40px;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}
.bluebg .box{
    position:relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bluebg .box h2{
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}
.bluebg .box button{
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    border: none;
}
.formbx{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    transition: 0.5px ease-in-out;
    overflow: hidden;
}
.formbx.active{
    left: 50%;
}
.formbx .form{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}
.formbx .signinform{
    transition-delay: 0.25s;
}
.formbx.active .signinform{
    left: -100%;
    transition-delay: 0s;
}
.formbx .signupform{
    left: 100%;
    transition-delay: 0s;
}
.formbx.active .signupform{
    left: 0;
    transition-delay: 0.25s;
}
.formbx .form form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formbx .form form h3{
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
}
.formbx .form form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid #333;
}
.formbx .form form input[type="submit"] {
    background: #03a9f4;
    border: none;
    color: #fff;
    max-width: 100px;
    cursor: pointer;
}`
.formbx.active .signupform input[type="submit"]{
    background: #f43648;
} 
.formbx .form form .forgot{
    color: #333;
}

@media (max-width: 991px){
    .container{
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .bluebg{
        top: 0;
        height: 100%;
    }
    .formbx{
        width: 100%;
        height: 500px;
        top: 0;
        box-shadow: none;
    }
    .bluebg .box{
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
    }
    .box.signin{
        top: 0;
    }
    .formbx.active{
        left: 0;
        top: 150px;
    }    
}
